<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head.ejs %>
   </head>
   <body>
      <h1>New TimeSheet Page</h1>
      <% let loopCt = 0%>
      <% console.log('editID:', editId); %>

      <% for (let row in timeRecs) { %>
         <div class="row">
         <div class="form-group col-sm-1">
         <% console.log('timeRecs[row]._id:', timeRecs[row]._id); %>
         <% console.log('for loop:', loopCt); %>
         <% if (timeRecs[row]._id == editId) {
            hotRow = true
            console.log('hotRow');%>
            <form action="/timesheet/<%=timeRecs[row]._id%>/<%=loopCt%>?_method=DELETE" method="POST">
                     <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
                  </form>
            <% } %>
         </div>
         <% if (hotRow) {%>
            <form class= "row" action="/timesheet/<%=timeRecs[row]._id%>/?_method=PUT" method="POST" id="needs-validation" novalidate>
         <% } %>

               <div class="form-group col-sm-2">
                  <% if (hotRow) { %>
                     <input type="hidden" class="form-control" value="<%=timeRecs[row].prop%>" name="prop" required>
                  <% } %>
                     <p><%=timeRecs[row].prop%></p>
               </div>
               <div class="form-group col-sm-3">
                  <% if (hotRow) { %>
                     <input type="hidden" class="form-control" value="<%=timeRecs[row].act%>" name="act" required>
                  <% } %>
                     <p><%=timeRecs[row].act%></p>
               </div>
               <div class="form-group col-sm-3">
                  <% if (hotRow) { %>
                     <input type="text" class="form-control" value="<%=timeRecs[row].desc%>" name="desc" required>
                     <div class="invalid-feedback">
                        Please provide a comment.
                     </div>
                  <% } else { %>
                     <p><%=timeRecs[row].desc%></p>
                  <%}%>
               </div>
               <div class="form-group col-sm-2">
                  <% if (hotRow) { %>
                     <input type="text" class="form-control" value="<%=timeRecs[row].time%>" name="time" min="0" step=".25" required>
                     <div class="invalid-feedback">
                        Provide Time or Round.
                     </div>
                  <% } else { %>
                     <p><%=timeRecs[row].time%></p>
                  <%}%>
               </div>
               <div class="form-group col-sm-1 editCont">
                  <% if (!edit) { %>
                     <button type="submit" class="btn btn-sm" onclick="location.href = '/timesheet/edit/<%=timeRecs[row]._id%>';">Edit</button>
                  <% } %>
                  <% if (hotRow) { %>
                     <button type="submit" class="btn btn-success btn-sm">Done</button>
                  <% } %>
               </div>
         <% if (hotRow) { %>
            </form>
            <% hotRow = false %>
         <% } %>
         <% loopCt += 1 %>

         </div>
      <% } %>

      <form action="/timesheet/newTS" method="post" id="needs-validation" novalidate>
         <% if (edit) { %>
            <fieldset disabled>
         <%}%>
            <div class="row align-items-center justify-content-around">
               <div class="form-group col-md-3">
                  <select class="form-control" name="prop" required>
                     <option selected>Property</option>
                     <option>Bronze Tree</option>
                     <option>Club A</option>
                     <option>Club B</option>
                     <option>Club C</option>
                     <option>Highmark</option>
                     <option>Ranch</option>
                     <option>West</option>
                  </select>
               </div>
               <div class="form-group col-md-3">
                  <select class="form-control" name="act" required>
                     <option selected>Activity</option>
                     <option>Hot Tub</option>
                     <option>Building Maint</option>
                     <option>Snow Shovel</option>
                     <option>Snow Plow</option>
                     <option>Painting</option>
                     <option>Trash</option>
                     <option>Recycle</option>
                  </select>
               </div>
               <div class="form-group col-md-3">
                  <input type="text" class="form-control" placeholder="Description" name="desc" required>
                  <div class="invalid-feedback">
                     Please provide a comment.
                  </div>
               </div>
               <div class="form-group col-md-3">
                  <input type="number" class="form-control" placeholder="Time" name="time" min=".25" step=".25" required>
                  <div class="invalid-feedback">
                     Provide Time or Round.
                  </div>
               </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         <% if (edit) { %></fieldset><%}%>
      </form>
      <% include ../partials/scripts.ejs %>
   </body>
</html>
